* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: #8c11c5;
}

.links {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.footer {
  background-color: #333;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.list {
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 10px;
}

.title{
  font-size: 20px;
  font-weight: bold;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Itens nos extremos */
  align-items: center; /* Alinha verticalmente */
  padding: 10px; /* Espaçamento interno opcional */
}

.content{
  width: 80%;
}