* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.content{
  width: 80%;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: #8c11c5;
}

.links {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.title{
  font-size: 20px;
  font-weight: bold;
}

.header {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px;
}

.styled-select {
  width: 100%; 
  padding: 7px 4px;
  border: 1px solid #d4d4d4; 
  border-radius: 4px;
  font-size: 13px;
  background-color: white; 
  color: #333;
  outline: none;
  box-sizing: border-box; 
  transition: border-color 0.3s ease; 
}

.styled-select option {
  padding: 10px;
  background-color: white;
  color: #333;
  font-size: 13px;
  border-radius: 4px;
  border: none;
}
